.box{
  background: $white;
  box-shadow: 0px -2px 0px $gray-light-color;
  border: 1px solid transparent;
  header{
    border-bottom: 1px solid $gray-light-color;
  }
  &__clean{
    box-shadow: none;
    header{
      border-bottom: none;;
    }
  }
  h4{
    margin: 5px 0px;
  }
  h3{
    margin: 0;
  }
  .box__body{
    position: relative;
    p{
      font-size: 23px;
      margin-bottom: 0px;
    }
    .indicator{
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    .table--price{
      .indicator{
        position: relative;
        right: auto;
        bottom: auto;
        padding: 2px 5px;
      }
    }
  }
}
.indicator{
  padding: 2px 12px;
  font-size: 10px;
  color: $white;
  &__pink{background: $pink-color;}
  &__green{background: $green-color;}
  &__orange{background: $orange-color;}
  &__blue{background: $blue-color;}
}
