html, body{
  height: 100%;
}

body{
  font-family: $font-family-serif;
  background: $bg-body ;
}

a{
  text-decoration: none;
  @include transition( $transition-buttons);
	&:hover{
    text-decoration: none;
    opacity: 0.8;
  }
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wrapper{
  margin: 0 10px;
  max-width: $wrapper-size;
  @media #{$gt-small}{
    margin: 0 auto;
  }
}

.main-container{
  padding-left: 250px;
}

.main-content{
  padding: 35px;
}
