<header class="header--main">
  <ul class="list--horizontal float--right">
    <li>
      <a href="#">
        <i class="glyphicon glyphicon-bell"></i>
      </a>
    </li>
    <li>
      <a href="#"><i class="glyphicon glyphicon-envelope"></i></a>
    </li>
    <li>
      <a href="#">
        <div class="media">
          <div class="media__img">
            <i class="icon--circle glyphicon glyphicon-user"></i>
          </div>
          <div class="media__body">
            Juan Sabogal
          </div>
        </div>
      </a>
    </li>
  </ul>
</header>
