<aside class="side--bar">
  <header class="side--bar__header">
    <a href="#">
      <img src="assets/images/logo.png" alt="AMovil" />
    </a>
  </header>
  <section class="side--bar__menu">
    <ul class="list--vertical">
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-align-justify"></i>
          Menu
        </a>
      </li>
      <li >
        <a href="#" class="active">
          <i class="glyphicon glyphicon-home"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-align-justify"></i>
          Maestro
        </a>
      </li>
      <li >
        <a href="#">
          <i class="glyphicon glyphicon-home"></i>
          Rezonificación
        </a>
      </li>
      <li >
        <a href="#">
          <i class="glyphicon glyphicon-home"></i>
          Preventa
        </a>
      </li>
      <li >
        <a href="#">
          <i class="glyphicon glyphicon-home"></i>
          Informes
        </a>
      </li>
      <li >
        <a href="#">
          <i class="glyphicon glyphicon-home"></i>
          Administración
        </a>
      </li>
    </ul>
  </section>

</aside>
