---
title: Test AMovil
---

<div class="">
  <header class="header--nav cf">
    <h3>Informe Diario</h3>
    <ul class="list--horizontal list--nav float--left">
      <li>
        <a href="#" class="active-main">
          <i class="glyphicon glyphicon-home"></i>
          Inicio
        </a>
      </li>
      <li>
        <i class="glyphicon glyphicon-chevron-right"></i>
        <a href="#">
          Informe Diario
        </a>
      </li>
    </ul>
    <div class="float--right">
      <select class="select--style" name="">
        <option>Empresa</option>
        <option>Compañía</option>
        <option>Empresa</option>
      </select>
      <div class="datepicker">
        <input type="text" class="js-datepicker input-calendar">
        <i class="glyphicon glyphicon-calendar"></i>
      </div>
  </header>
  <div class="soft-double--ends">
    <div class="row">
      <div class="col-md-3">
        <div class="box">
          <header class="soft-half--ends soft--sides">
            <h4>Efectividad</h4>
          </header>
          <div class="box__body soft soft-half--bottom">
            <p>
              51,47%
            </p>
            <small>Acumulado</small>
            <span class="indicator indicator__pink">
              3%
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <header class="soft-half--ends soft--sides">
            <h4>Eficiencia</h4>
          </header>
          <div class="box__body soft soft-half--bottom">
            <p>
              45,87%
            </p>
            <small>Acumulado</small>
            <span class="indicator indicator__green">
              6%
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <header class="soft-half--ends soft--sides">
            <h4>Clientes por visitar</h4>
          </header>
          <div class="box__body soft soft-half--bottom">
            <p>
              51,47%
            </p>
            <small>Acumulado</small>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <header class="soft-half--ends soft--sides">
            <h4>Clientes visitados</h4>
          </header>
          <div class="box__body soft soft-half--bottom">
            <p>
              51,47%
            </p>
            <small>Acumulado</small>
            <span class="indicator indicator__orange">
              0-
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="soft-double--ends">
      <div class="row">
        <div class="col-md-9">
          <div class="box box__clean soft cf">
            <header class="soft--sides">
              <div class="float--left">
                <h3>$ 48.579.000</h3>
                <p>
                  Ventas Acumuladas
                </p>
              </div>
              <div class="float--right">
                <p>
                  Valor de Cambios:
                  <b>$ 126.000</b>
                </p>
                <ul list--horizontal>
                  <li>
                    ventas
                  </li>
                  <li>
                    Cambios
                  </li>
                </ul>
              </div>

            </header>
            <canvas class="js-chartjs" width="100%" height="400"></canvas>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Mejores Puntos de Ventas</h4>
          <ul class="list--vertical list--best">
            <li>
              <div class="media">
                <div class="media__img media__img__rounded">
                  <img src="/assets/images/pic-small.png" alt="" />
                </div>
                <div class="media__body">
                  <h5>Kiosko Matarraton</h5>
                  <p>
                    Disay, Bogotá
                  </p>
                  <small>$135.000</small>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <div class="media__img media__img__rounded">
                  <img src="/assets/images/pic-small.png" alt="" />
                </div>
                <div class="media__body">
                  <h5>Kiosko Matarraton</h5>
                  <p>
                    Disay, Bogotá
                  </p>
                  <small>$135.000</small>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <div class="media__img media__img__rounded">
                  <img src="/assets/images/pic-small.png" alt="" />
                </div>
                <div class="media__body">
                  <h5>Kiosko Matarraton</h5>
                  <p>
                    Disay, Bogotá
                  </p>
                  <small>$135.000</small>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <div class="media__img media__img__rounded">
                  <img src="/assets/images/pic-small.png" alt="" />
                </div>
                <div class="media__body">
                  <h5>Kiosko Matarraton</h5>
                  <p>
                    Disay, Bogotá
                  </p>
                  <small>$135.000</small>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <div class="media__img media__img__rounded">
                  <img src="/assets/images/pic-small.png" alt="" />
                </div>
                <div class="media__body">
                  <h5>Kiosko Matarraton</h5>
                  <p>
                    Disay, Bogotá
                  </p>
                  <small>$135.000</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-9">
          <div class="col-md-6">
            <div class="box cf">
              <header class="soft-half--ends soft--sides">
                <h4>Ranking</h4>
              </header>
              <div class="box__body soft soft-half--bottom">
                <table class="table--price">
                  <thead>
                    <tr>
                      <th width="10%">No.</th>
                      <th width="58%">Producto</th>
                      <th width="16%">Cant.</th>
                      <th width="16%">Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text--center">1</td>
                      <td>Leche Deslactosada</td>
                      <td >150</td>
                      <td><span class="indicator indicator__blue">$135.000</span></td>
                    </tr>
                    <tr>
                      <td class="text--center">1</td>
                      <td>Leche Deslactosada</td>
                      <td >150</td>
                      <td><span class="indicator indicator__green">$135.000</span></td>
                    </tr>
                    <tr>
                      <td class="text--center">1</td>
                      <td>Leche Deslactosada</td>
                      <td >150</td>
                      <td><span class="indicator indicator__blue">$135.000</span></td>
                    </tr>
                    <tr>
                      <td class="text--center">1</td>
                      <td>Leche Deslactosada</td>
                      <td >150</td>
                      <td><span class="indicator indicator__green">$135.000</span></td>
                    </tr>
                    <tr>
                      <td class="text--center">1</td>
                      <td>Leche Deslactosada</td>
                      <td >150</td>
                      <td><span class="indicator indicator__orange">$135.000</span></td>
                    </tr>
                    <tr>
                      <td class="text--center">1</td>
                      <td>Leche Deslactosada</td>
                      <td >150</td>
                      <td><span class="indicator indicator__orange">$135.000</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box cf">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- .welcome -->
